<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodie Restaurant</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="container">
        <div class="row justify-content-between align-item-center">
          <div class="logo">
            <h1 tabindex="0">Foodie.</h1>
          </div>
          <button class="nav-toggler">
            <span></span>
          </button>
          <nav class="nav">
            <ul>
              <li class="nav-item"><a href="index.html">Home</a></li>
              <li class="nav-item"><a href="#/favorite">Favorite</a></li>
              <li class="nav-item">
                <a href="https://github.com/mnooryusuf">About Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main id="main"></main>

    <!-- Footer start-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-item">
            <h3 tabindex="0">our location</h3>
            <p tabindex="0">
              Jl.H.Abdul Kadir, Durian Rabung <br />
              Hulu Sungai selatan - 080_00 ****
            </p>
          </div>
          <div class="footer-item">
            <h3 tabindex="0">opening hours</h3>
            <p tabindex="0">
              monday to sunday <br />
              9:00 AM - 10:00 PM
            </p>
          </div>
          <div class="footer-item">
            <h3 tabindex="0">contact us</h3>
            <p tabindex="0">0815 **44 **44</p>
            <p tabindex="0">mnyusuf14@gmail.com</p>
            <div class="social-links">
              <a href="https://facebook.com/mnyusuf14"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://www.instagram.com/mnoor.yusuf/"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="https://twitter.com/mnooryusuf"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="copyright" tabindex="0">
            &copy; 2021 Foodie Restaurant - Designed by MNY DEV
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->
  </body>
</html>
