<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0a3d62" />
    <meta name="description" content="Find youre favorite restaurant in indonesia with Foodie Restaurant.">
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <script src="https://kit.fontawesome.com/5429d6d3f7.js" crossorigin="anonymous"></script>
    <title>Foodie Restaurant</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">
          <span></span>
        </button>
      </div>
      <div class="app-bar__brand">
        <a href="#/home">Foodie.</a>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item">
            <a href="https://github.com/mnooryusuf">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main"></main>

    <!-- Footer start-->
    <footer class="footer lazyload" data-bg="./images/heros/hero-image_4.jpg">
      <div class="container">
        <div class="row">
          <div class="footer-item">
            <h3 tabindex="0">our location</h3>
            <p tabindex="0">
              Jl.H.Abdul Kadir, Durian Rabung <br />
              Hulu Sungai selatan - 080_00 ****
            </p>
          </div>
          <div class="footer-item">
            <h3 tabindex="0">opening hours</h3>
            <p tabindex="0">
              monday to sunday <br />
              9:00 AM - 10:00 PM
            </p>
          </div>
          <div class="footer-item">
            <h3 tabindex="0">contact us</h3>
            <p tabindex="0">0815 **44 **44</p>
            <p tabindex="0">mnyusuf14@gmail.com</p>
            <div class="social-links">
              <a href="https://facebook.com/mnyusuf14"
                ><i class="fa  fa-facebook-f"></i
              ></a>
              <a href="https://www.instagram.com/mnoor.yusuf/"
                ><i class="fa  fa-instagram"></i
              ></a>
              <a href="https://twitter.com/mnooryusuf"
                ><i class="fa  fa-twitter"></i
              ></a>
              <a href="#"><i class="fa  fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="copyright" tabindex="0">
            &copy; 2021 Foodie Restaurant - Designed by MNY DEV
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->
  </body>
</html>
