@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  --main-color: #eaa023;
  --dark: #033457;
  --dark-light: #0a3d62;
  --focus: #eb2f06;
  --white: #fff;
  --white-light: #c8c8c8;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  --cursive-font: "Dancing Script", cursive;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--white-light);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 700;
  color: var(--white);
}

h2 {
  font-weight: 600;
  color: var(--white);
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--white);
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.min-vh-100 {
  min-height: 100vh;
}

.sec-padding {
  padding: 80px 0;
}

[tabindex="0"]:focus {
  outline: 3px dashed var(--white);
}

/* section title */
.section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 24px;
  text-transform: capitalize;
}

.section-title h2::before {
  content: attr(data-title);
  display: block;
  font-size: 24px;
  color: var(--main-color);
  font-family: var(--cursive-font);
  font-weight: 400;
}

/* button */
.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-color);
  line-height: 1.5;
  user-select: none;
  border: none;
}

.btn:focus {
  outline: 4px dashed var(--focus);
}

.btn-default {
  border: 2px solid var(--main-color);
}

.btn-default:hover {
  color: var(--white);
  background-color: var(--main-color);
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Header Section */

.app-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.app-bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-light);
  box-shadow: var(--shadow);
  z-index: -1;
  transition: transform 0.5s ease;
  transform: translateY(-100%);
}

.app-bar.sticky::before {
  transform: translateY(0%);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  height: 44px;
  width: 44px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-bar .app-bar__menu button:focus {
  outline: 4px dashed var(--focus);
}

.app-bar .app-bar__menu button span {
  height: 2px;
  width: 30px;
  display: block;
  background-color: var(--white);
  position: relative;
}

.app-bar .app-bar__menu button.active span {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.app-bar .app-bar__menu button span::after,
.app-bar .app-bar__menu button span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
}

.app-bar .app-bar__menu button span::before {
  transform: translateY(-8px);
}

.app-bar .app-bar__menu button.active span::before {
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}

.app-bar .app-bar__menu button span::after {
  transform: translateY(8px);
}

.app-bar .app-bar__menu button.active span::after {
  transform: rotate(-45deg);
  transition: transform 0.5s ease;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand a {
  color: var(--white);
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 2rem;
  align-items: center;
  padding: 0 15px;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
  background-color: var(--dark-light);
}

.app-bar .app-bar__navigation .nav-item a {
  display: inline-block;
  text-decoration: none;
  padding: 4px 0;
  font-size: 28px;
  color: var(--white);  
  margin-bottom: 5px;
  width: 100%;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.app-bar .app-bar__navigation .nav-item a:hover{
  color: var(--main-color);
}

.app-bar .app-bar__navigation .nav-item a:focus{
  outline: 4px dashed var(--focus);
}

.app-bar .app-bar__navigation.open .nav-item a{
  padding: 14px;
  font-size: 22px;
}

/* Home Section */

.home-section {
  position: relative;
  overflow: hidden;
}

.home-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

.home-section .home-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -2;
  animation: zoomInOut 20s ease infinite;
}

.home-section .min-vh-100 {
  padding: 100px 0;
}

.home-text {
  padding: 0 15px;
  text-align: center;
}

.home-text h1 {
  font-family: Var(--cursive-font);
  font-size: 2.5em;
  line-height: 65px;
  margin: 0 0 5px;
}

.home-text p {
  font-size: 0.8em;
  margin: 0 0 20px;
}

/* explore section */

.explore-section {
  background-color: var(--dark);
}

.restaurants {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px 40px;
}

.restaurant-items {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: var(--shadow);
  background-color: var(--dark-light);
}

.restaurant-items img {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0;
}

.restaurant-address {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-light);
  padding: 0.4em 1.3em;
  border-radius: 13px 0;
  z-index: 1;
}

.restaurant-address h3{
  font-size: 20px;
}

.details {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 15px;
  grid-row-gap: 15px;
}

.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}

.details-sub h3 a {
  color: var(--white);
  font-size: 2rem;
}

.details-sub h3 a:hover {
  color: var(--main-color);
}

.ratings{
  font-size: 16px;
}

.ratings .fa {
  font-size: 16px;
  color: var(--main-color);
}

.details > p {
  font-size: 15px;
  line-height: 28px;
  align-self: stretch;
}

.description {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

/* testimonials */
.testimonials-section {
  background-color: var(--dark-light);
}

.testi-item {
  /* width: calc((100% / 3) - 30px); */
  width: calc(100% - 30px);
  margin: 0 15px 30px;
  border: 2px solid var(--dark-light);
  padding: 30px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.testi-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testi-author h3 {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 3px;
}

.testi-author span {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
}

.testi-author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--dark-light);
  box-shadow: var(--shadow);
  transition: border-color 0.5s ease;
}

.testi-item:hover .testi-author img {
  border-color: var(--main-color);
}

.testi-item p {
  margin: 15px 0;
  word-break: break-word;
}

.testi-item .ratings svg {
  font-size: 16px;
  color: var(--main-color);
}

#reviews{
  background-color: var(--dark-light);
}

/* footer */
.footer {
  padding: 80px 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

.footer-item {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 10px;
}

.footer-item:not(:last-child){
  margin-bottom: 30px;
}

.footer-item h3 {
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 0 0 15px;
}

.footer-item p {
  line-height: 30px;
}

.footer-item .social-links {
  margin-top: 15px;
}

.footer-item .social-links a {
  display: inline-flex;
  height: 44px;
  width: 44px;
  color: var(--white-light);
  font-size: 22px;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.footer-item .social-links a:hover {
  color: var(--main-color);
}

.footer-item .social-links a:focus {
  outline: 4px dashed var(--focus);
}

.footer .copyright {
  margin: 80px 0 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  border-top: 1px solid var(--white-light);
}

/* Detail */
/* about section */
.about-section {
  background-color: var(--dark-light);
}

.about-text,
.about-img {
  /* width: 50%; */
  width: 100%;
  padding: 0 15px;
}

.about-img{
  margin-top: 40px;
}

.about-text h3 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 0 0 15px;
}

.about-text p {
  margin: 0 0 15px;
}

.about-text .btn {
  margin: 15px 0 0;
}

.about-img img {
  width: 100%;
  border-radius: 10px;
}

/* menu section */

.menu-section{
  background-color: var(--dark);
  padding-bottom: 60px;
}

.menu-section .section-title{
  margin-bottom: 40px;
}

.menu-tabs{
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.menu-tab-item{
  font-size: 2rem;
  font-family: inherit;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
  margin: 0 10px 10px;
  transition: color 0.3s ease;
}

.menu-tab-item.active{
  color: var(--main-color);
}

.menu-tab-content{
  display: none;
}

.menu-tab-content.active{
  display: flex;
}

.menu-item{
  /* width: 50%; */
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-item::after{
  content: '';
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  border-bottom: 2px dashed var(--dark-light);
}

/* .menu-item:nth-last-of-type(2)::after, */
.menu-item:nth-last-of-type(1)::after{
  border: none;
}

.menu-item-title{
  display: flex;
  align-items: center;
  max-width: calc(100% - 80px);
}

.menu-item-title h3{
    font-size: 16px;
    text-transform: capitalize;
    transition: color 0.3s ease;
}

.menu-item:hover .menu-item-title h3{
  color: var(--main-color);
}

#input-review {
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
    margin: 0 15px 30px;
    border: 2px solid var(--dark-light);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.form h3{
  color: var(--white);
  font-size: 28px;
  margin-top: 30px;
}

.form p{
  color: var(--white-light);
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.input {
  background-color: var(--white);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--dark);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: var(--dark-light);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 60px;
}

.cut-short {
  width: 55px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: var(--white-light);
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: var(--white-light);
}

.input:focus ~ .placeholder {
  color: var(--white);
}

.submit {
  background-color: var(--main-color);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #fa9905;
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: var(--focus);
  color: var(--white);
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input{
  width: 100%;
  padding: 0 90px;
}

.search-input .cut {
  background-color: var(--dark);
  width: 105px;
}

.restaurant-item__not__found{
  padding-left: 90px;
}

.skeleton {
  user-select: none;
  background-color: #eeeeee;
  color: #eeeeee;
}

